<!DOCTYPE html>
<html>
    <head lang="sv">
        <meta charset="UTF-8">
        <title>Stavros</title>
        <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon.png">
        <script src="lib/angular.js"></script>
        <script src="lib/angular-animate.js"></script>
        <!--<script src="lib/bootstrap/js/bootstrap.js"></script>-->
        <!--TODO: reset css-->
        <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="lib/bootstrap/css/bootstrap-theme.css">
        <link rel="stylesheet" href="styles.css">
        <script src="stavrosApp.js"></script>
        <script src="StavrosCtrl.js"></script>
        <script src="spinOnChangeDirective.js"></script>
    </head>
    <body ng-app="stavrosApp">
        <div ng-controller="StavrosCtrl">
            <div class="level-panel">
                <span class="level-label bg-label">LEVEL {{getLevel().number}}</span>
                <span class="level-current bg-label">
                    {{getLevel().name}}
                </span>
            </div>

            <div class="clearfix">
                <div spin-on-change="activities" class="spin-container">
                    <div id="burst-8" class="pull-right">
                    </div>
                </div>
                <div id="score">
                    {{getScore()}}
                </div>
            </div>

            <div class="img-box">
                <img src="{{getLevel().imagePath}}">
            </div>
            <input type="text" ng-model="search" class="form-control" placeholder="Filtrera" id="search-input">
            <ul class="activity-list">
                <li class="animate-repeat" ng-repeat="activity in activities | filter:search as results">
                    <div class="clearfix">
                        <!--<div class="img-thumbnail"></div>-->
                        <img src="{{activity.imagePath}}"
                             class="activity-thumbnail"
                             ng-click="activity.$_showPic = !activity.$_showPic">
                        {{activity.name}} <span class="badge">{{activity.points}}</span>
                        <button class="btn btn-default btn-xs activity-btn pull-right"
                                id="activity-toggle-{{$index}}"
                                ng-click="toggleSelected(activity)"
                                ng-class="{empty: !activity.selected}">
                            <i ng-if="activity.selected"
                               class="glyphicon glyphicon-ok"></i>
                            <span ng-if="!activity.selected">&nbsp;</span>
                        </button>
                    </div>
                    <img src="{{activity.imagePath}}" ng-if="activity.$_showPic" style="max-width: 100%">
                </li>
                <li class="animate-repeat" ng-if="results.length === 0">
                    <strong>Ingen aktivitet funnen :´(</strong>
                </li>
            </ul>
            <div class="img-box" ng-if="showMadeBy">
                <div style="padding: 5px; color: #fff;">Mobbprogrammerat av Joel, Anders och Lukas. No rights
                    reserved.
                </div>
                <img src="img/mobb.jpeg">
            </div>
            <button ng-click="clearSelected()" class="btn btn-danger" style="margin: 20px 0 10px 10px;">
                Rensa alla valda
            </button>
            <div class="pull-right">
                <ul class="list-unstyled">
                    <li>
                        <a id="about-link" href="/about.html"><span class="badge">Om appen</span></a>
                    </li>
                    <li>
                        <a ng-click="showMadeBy = !showMadeBy" style="background-color: #CEDAD6;">Skapad av...</a>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>