body {
    background-image: url("img/blue-pattern.jpg");
    background-repeat: repeat;
    font-family: 'Open Sans', sans-serif;
}

.empty {
    color: transparent;
}

.activity-btn {
    width: 30px;
    height: 30px;
    margin-top: 9px;
    font-size: 16px;
    margin-left: 10px;
}

ul.activity-list {
    width: 100%;
    padding: 0;
    list-style-type: none;
}

ul.activity-list li {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 5px 10px;
    border-bottom: solid 1px #9d9d9d;
    font-size: 16px;
}

ul.activity-list li:last-child {
    border-bottom: none;
}

.truncate {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#score {
    position: fixed;
    top: 29px;
    right: 30px;
    font-size: 32px;
    width: 40px;
    text-align: center;
    z-index: 2;
}

.spin-container {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 80px;
    height: 80px;
    z-index: 1;
}

.spinEffect {
    /*-webkit-animation: spin 1s 1 ease-in-out;*/
    animation-name: spin;
    animation-duration: 0.6s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

#search-input {
    font-size: 16px;
    height: 40px;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

.activity-thumbnail {
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #fff;
    margin-right: 5px;
}

.level-panel {
    padding: 10px;
}

.level-panel .level-label {
    font-size: 10px;
    color: #e0e0e0;
}

.level-panel .level-current {
    display: block;
    font-size: 20px;
    color: #fff;
    font-family: cursive;
}

.bg-label {
    background-color: #0792bc;
    padding: 5px;
}

.img-box {
    background-color: #000;
    padding: 10px;
}

.img-box img {
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#burst-8 {
    background: #F1F138;
    width: 80px;
    height: 80px;
    position: relative;
    text-align: center;
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform: rotate(20deg);
}

#burst-8:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    width: 80px;
    background: #F1F138;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.animate-repeat {
    line-height:40px;
    list-style:none;
    box-sizing:border-box;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
    transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
    opacity:0;
    max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
    opacity:1;
    max-height:40px;
}